Checks: "clang-diagnostic-*,
         clang-analyzer-*,
         bugprone-*,
         modernize-*,
         performance-*,
         readability-*,
         cppcoreguidelines-*,
         misc-*,
         cert-*,
         hicpp-*,
         -modernize-use-trailing-return-type,
         -modernize-use-std-numbers,
         -modernize-use-ranges,
         -misc-non-private-member-variables-in-classes,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-avoid-const-or-ref-data-members,
         -hicpp-explicit-conversions,
         -hicpp-named-parameter,
         -readability-redundant-member-init,
         -readability-identifier-length,
         -readability-named-parameter,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -bugprone-easily-swappable-parameters,
         -bugprone-reserved-identifier,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -readability-magic-numbers,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -hicpp-uppercase-literal-suffix,
         -readability-uppercase-literal-suffix,
         -misc-no-recursion,
         -readability-braces-around-statements,
         -hicpp-braces-around-statements,
         -cert-err58-cpp,
         -cert-dcl16-c,
         -cert-dcl37-c,
         -cert-dcl51-cpp,
         -bugprone-forwarding-reference-overload,
         -readability-function-cognitive-complexity,
         -readability-implicit-bool-conversion,
         -cppcoreguidelines-pro-type-const-cast,
         -cppcoreguidelines-pro-type-union-access,
         -hicpp-signed-bitwise"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
